* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: "Oswald", sans-serif;
	background-color: whitesmoke;
	font-size: 16px;
	background-size: cover;
  }
  .nombre-de-barra{
    font-size: 28px;
   margin-left: 25px;
   color: black;
  }
  
 

  a {
	color: black;
	text-decoration: none;
  }
  
  ul {
	list-style: none;
  }
  
  header{
	  font-stretch:narrower;
	  font-size: 20px;
	  color:black;
	  font-family:"Oswald", sans-serif;
  }

  .container {
	width: 90%;
	margin: auto;
  }
  
  /* Navigation */
  .nav-main {
	font-size: 17px;
	display: block;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px 0;
	z-index: 1;
  }
  
  .nav-brand {
	width: 50px;
  }
  
  /* Navbar Left */
  .nav-main ul {
	display: flex;
  }
  
  .nav-main ul li {
	padding: 10px;
  }
  
  .nav-main ul li a {
	padding: 2px;
  }
  
  .nav-main ul li a:hover {
	border-bottom: 2px solid tomato;
  }
  
  .nav-main ul.nav-menu {
	flex: 4;
	margin-left: 20px;
  }
  
  hr {
	margin: 10px 0;
    border-color: black;
  }
  
  /* Responsive Button */
  .menu-btn {
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 75px;
	z-index: 2;
	display: none;
	color: black;
  }




.grid-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    justify-content: center; */
  
    /* grid-template-rows: masonry; */
  margin-top: 60px;
    margin: 0 auto;
  }
  
  .grid-item {
    object-position: center;
    width: 230px;
    /* height: 200px;
    object-fit: cover; */
    margin-bottom: 50px;
    border-radius: 15px;
    cursor: zoom-in;
    background-color: lightgray;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
  }