body {
    text-align: center;
}
.Titulo{
    height: 500px;
}

nav ul {
      margin: 0;
      padding: 0;
}

.FondoTitulo{
    background-image: url("../img/fondo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 300px;
}


h2{
    font-family: "Century Gothic";
    text-align: left;
    font-size: 700%;
    color: white;
    margin: auto;
    width: 35%;
}


.Apellido{
    font-style: italic;
}

#Cuerpo{
    background: #efefef;
    margin: 2.5%;
    padding: none;
}
#Primercabecera{
padding: 20px;
border: 1px solid black;
text-align: left;
}
.Menu li { 
list-style: none;
padding: 5px;
font: bold 14px verdana;
display: inline-block;
text-align: left;
}
.Menu {
text-align: left;
background-color: Cornsilk;

}
.Seccion {
margin: 10px;
}
